html{
    text-align: center;
    height: max-content;
    background-color: #F5F7FA;
}
body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100%;
   
}


main{
    width: 100%;
    height: max-content;
    margin-top: -30px;
    padding: 0;
}
.main-carousels{
    background-color:#0a4d8c27;
    padding: 10px;
    margin-top: 30px;
    box-shadow: inset 0 0 40px rgba(0,0,0,0.4);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.carousel {
    margin-left: 15%;
    width: 40%;        
    height: 420px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.carousel-part1 {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
  height: 77.5%;
}

.slide {
  min-width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: white;
}
.slide img{
    width: 100%;
    height: 100%;
}

.carousel-part2{
    z-index: 200;
    background-color: #e9e9e9; 
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
}

.see-more{
    background-color: #0A4D8C;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin: 20px;  
   
}
.dots {
  bottom: 10px;
  width: 100%;
  margin-right: 10%;
  text-align: center;
}

.dot {
  height: 12px;
  width: 12px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.dot.active {
  background-color: #333;
}

.side-box {
  transform: translateY(-50%);
  width: 300px;
  margin-top: 90px;
  height: 0;
  transition: right 1s ease; 
  }

.side-box.show {
  right: 20px;
      }

.carousel2 {
    background-color: #ffffff;
    overflow: hidden;
    width: 30%;
    min-width: 350px;
    height: 250px;
    border-radius: 10px;
    transition: transform 0.6s ease;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.9);  }

.carousel2-part {
    display: flex;
    flex-direction: row;
    transition: transform 0.6s ease;
      }

.slide2 {
    min-width: 100%;
    box-sizing: border-box;
    height: 385px;
}
.slide2 img {
    width: 100%;
    height: 65%;
}
.slide2:nth-child(1) img {
    padding-top: 70px;
    height: 100px;
}

.container-options{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: max-content;
    margin-top: 30px;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
}
#financial-transactions{
    color: goldenrod;
}
.options{
    display: flex;
    margin: 10px;
    padding-top: 10px;
    width: max-content;
    padding-bottom: 20px;
    border-bottom: 1px solid gray;
    gap: 20px;
    background-color: #F5F7FA;
}
.options div{
    background-color: #e9e9e9;
    width: 300px;
    height: 150px;
    border-radius: 3px;
    padding: 15px;
    gap: 90px;
    transition: all 0.3s ease;
    cursor: pointer;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
    font-weight: bolder;
}
.deposit{
    color: rgb(148, 107, 32);
}
.savings{
    color: rgb(34, 139, 34);
}
.options div:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}
.options img{
    height: 100px;
    width: 100px;
    border-radius: 50px;
}

.container-text{

}

.container{
    background-color: rgb(255, 255, 255);
    width: 70%;
    justify-self: center;
    margin-top: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}
.container-text{
    margin: 20px;
    border-radius: 10px;
    padding: 10px;
    color: #bbb;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.container-text h2{
    color: #0a4d8c6c;
}

.container-balance-login{
    margin: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
}
.container-balance{
    background-color: white;
    box-shadow: 0px 1px 5px 4px rgba(0, 0, 0, 0.3);
    padding: 30px;
    margin: 10px;
    border-radius: 10px;
}
.container-login{
    color: rgba(0, 0, 0, 0.651);
    margin: 10px;
    display: flex;
    flex-direction: column;
    text-align: justify;
    line-height: 29px;
    padding: 20px;
}
/* Comon styles*/

em{
    color: rgb(99, 99, 21);
    font-weight:bolder;
}


/* LOG IN PAGE STYLES */

    form {
      display: flex;
      flex-direction: column;
      justify-self: center;
      background-color:rgba(47, 69, 117, 0.521);
      padding: 50px 115px 50px 105px;
      margin-top: 2%;
      border-radius: 10px;
      color: rgb(255, 255, 255);
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      transition: all ease-in-out 0.4s;
    }

    form:hover {
      box-shadow: 5px 2px 15px 10px rgba(0, 0, 0, 0.2);
    }

    h1 {
      text-align: center;
      margin-bottom: 20px;
    }

    .login-box {
      display: flex;
      flex-direction: column;
      gap: 25px;
      position: relative;
      margin-top: 30px;
    }

    .input-group {
      position: relative;
      width: 220px;
    }

    .login-box input {
      padding: 10px;
      width: 100%;
      border-radius: 5px;
      border: 1px solid black;
      outline: none;
      background: white;
      color: black;
      font-size: 13px;
    }

    form label {
      color: rgba(0, 0, 0, 0.637);
      position: absolute;
      left: 10px;
      top: 10px;
      background: white;
      padding: 0 5px;
      user-select: none;
      transition: all ease-in-out 0.3s;
      pointer-events: none;
    }

    /* Floating label effect */
    input:focus + label,
    input:not(:placeholder-shown) + label {
      color: rgb(0, 0, 0);
      top: -10px;
      font-size: 0.8rem;
    }

    .bttn {
      align-self: center;
      margin-top: 30px;
      width: 100px;
      border: solid 1px skyblue;
      color: rgb(0, 105, 146);
      font-weight: bolder;
      background: white;
      border-radius: 5px;
      padding: 8px;
      cursor: pointer;
      transition: background 0.3s, color 0.3s;
    }

    .bttn:hover {
      background: skyblue;
      color: white;
    }

    /* ACCOUNTS PAGE STYLES */

    section{
        background-color: #ffffff;
        width: 80%;
        justify-self: center;
        border-radius: 20px;
        padding-top: 30px;
        padding-bottom: 30px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: space-around;
        align-items: center;
        margin-top: 7%;
        user-select: none;
    }
    section div{
        background-color: #f3f3f3;
        border-radius: 10px;
        width: 130px;
        width: 80%;
        height: 50px;
        justify-self: center;
        padding: 10px 25px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

    }
    .div-accounts img{
        width: 50px;
        border-radius: 10px;

    }
    span{
        background-color: #ffffff;
        padding: 2px;
        border-radius: 10px;
        color: #0A4D8C;
        font-weight: bolder;
        cursor: pointer;

    }
    .dot{
        background-color: #b1c7db;
    }


    /* DONATION PAGE*/


    .container-donation-div{
        margin-top: 6%;
        justify-self: center;
        width: 65%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        gap: 70px;
        border-radius: 20px;
        padding: 30px 70px 30px 30px;        
        background-color: #ffffff;
        box-shadow: 2px 5px 19px rgb;

    }   
    .container-donation-div div{
        width: 500px;
        height: max-content;
    }
    .div1{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 50px;
    }
    .div2 {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 10px;

    }
    .div1,.div2 div{
        border-radius: 20px;
        padding: 20px;
        background-color: #fcfdfd;
        box-shadow: 2px 5px 19px rgba(0, 0, 0, 0.2)
    }
    .div1 img{
        width: 500px;
        height: 300px;
        border-radius: 20px;
    }


        /* ADMIN PAGE */
.admin-main{
    height: 55vh;
    background-image: url('DJI_0458.jpg');
    background-size: cover;
    background-position: center;
    padding-top: 40px;
}
.admin-main-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: CENTER;
    gap: 0px;
    padding-bottom: 50px;
    width: 70%;
    justify-self: center;
    background-color: #ffffff7a;
    padding: 20px;
    border-radius: 20px;
}
.admin-main-content div{
  
}
.admin-div1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 40px;
    margin-top: 50px;
}
.admin-div1 .div1-1{
    border-radius: 20px;
    background-color: rgb(94, 137, 194);
    color:#ffffff;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    transition: all ease-in-out 1s ;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.admin-div1 .div1-1:hover{
   
    transform: scale(1.05);
    cursor: pointer; 
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
}
.admin-div1 .div1-2{
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    color:#dfdfdf;
    font-weight: bolder;
    transition: all ease-in-out 1s ;
}
.admin-div1 h1{
   color: #2f485f9a;
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.admin-div1 .div1-1 img{
    width: 150px;
    height: 150px;
    border-radius: 20px;
    margin-top: 10px;
}
.img-news-updates{
    display: flex;
    padding: 40px;
    flex-direction: row;

}
ul{
    padding-top: 20px;
    text-align: left;
    line-height: 29px;
}
.big-text{
    background-color: skyblue;
    padding: 20px 50px;
    color: #dfdfdf;
    width: 60%;
    text-align: left;
    justify-self: right;
    user-select: none;
    cursor: default;
}
