header{
    width: 100%;
    height: 200px;
    background-color: #0A4D8C;
}

.header3 button {
    padding: 10px 20px;
    margin-top: 12px;
    margin-left: 15px;
    background-color: #0A4D8C;
    color: white;
    font-weight: bolder;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    transition: all ease-in-out 0.8s;

}
.header3 button:hover{
    scale: 1.2;
    cursor: pointer;
    background-color: white;
    color: #89bef0;
    border: solid 1px  #89bef0;

}
.header1{
    background-color: #ffffff;
    font-size: 40px;
    color: rgb(0, 0, 0);
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.banklogo{
    width: 350px;
    height: 90px;
}
.nav-links{
  display: none;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.082);
  position: absolute;
  top: 60px;
  right: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 10px;
}
.nav-links p{
    
    text-decoration: none;
    color: rgb(63, 63, 63);
    font-size: 34px;
    margin: 0;
    user-select: none;
    cursor: default;
    padding: 0 15px;
    width: inherit;
} 
#a-first{
    border-left: none;
}

.nav-links a:hover {
    color:  rgb(209, 116, 218);
    transform:scale(1.15);
    margin-left: 5px;
    border-left: 1px solid rgb(218, 218, 218);
    font-weight: bolder;
    transition: all 0.8s ease;
}
.nav-links.active {
   display: flex;
}

.hamburger-menu {
    cursor: pointer;
    color: rgb(209, 116, 218);
}


.header2{
    font-size: 20px;
    color: rgb(0, 0, 0);
    background-color: #F2F2F2;
    height: 20%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.nav-links2{
    display: flex;
    flex-direction: row;
    padding: 0 0 0 20%;
    align-items: center;
    font-size: 17px;
    font-weight: bolder;
    width: inherit;
}
.nav-links2 a{
    text-align: center;
    text-decoration: none;
    height: 20px;
    overflow: hidden;
    width: fit-content;
    padding: 10px 15px;
    transition: all 0.9s ease-in-out;
}
.nav-links2 a:hover {
    background-color: white;
    color: rgb(14, 80, 141);
    scale:1.03px;
    font-size: 20px;

}
.header3{
    font-size: 15px;
    color: rgb(0, 0, 0);
    height: 35%;
}
.fa-bars {
    font-size: 30px;
    cursor: pointer;
}
@media (min-width: 1168px) {
    .hamburger-menu {
        display: none;
    }
    .nav-links{
        display: flex;
        flex-direction: row;
        position: static;
        border: none;
    }
    
   
}
@media (max-width: 967px) {
    .nav-links{
        flex-direction: column;
        position: absolute;
        top: 95px;
        right: 10px;
        border: 1px solid #ccc;
        background-color: rgb(255, 255,255);
        width: 260px;
        padding: 0;
        z-index: 100;
    }
    .nav-links a {
        border-bottom: 1px solid gray;
        border-left: none;
        width: inherit;
        padding: 15px 0;
        font-size: 16px;
        color: rgb(76, 90, 216);
        font-weight: bolder;
        transition: all 0.3s ease;
    }
    .nav-links a:hover {
        border-radius: 4px;
        background-color:  rgb(76, 90, 216);
        color: white;
    }
    #a-last {
        border-bottom: none;
    }
}

@media (max-width: 1017px) {
    
    .banklogo{
        width: 190px;
        height: 70px;
    }
    .nav-links2{
    display: flex;
    flex-direction: row;
    padding: 0 30px;
    align-items: center;
    font-size: 17px;
    font-weight: bolder;
    width: inherit;
}
    
}

footer{
    background-color: #0A4D8C;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-weight: bolder;
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 50px;
}